.company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.realTime {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    /* background-color: #000000; */
}

.quote {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-kerning: normal;
    align-items: center;
}

.quote-bg {
    transition: background-color 0.2s ease;
}

.quoteGreen {
    background: green;
}

.quoteRed {
    background: red;
}

.supsub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.up {
    color: rgb(23, 156, 23)
}

.down {
    color: rgb(158, 14, 14)
}

.quoteDetail {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 14px;
}

.quoteTime {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 14px;
    color: rgb(160,160,160)
}

