#ignore mac hidden files
**/._*
**/.DS_Store
**/._.DS_Store

#ignore vscode setup
.vscode/*

#ignore development directories
archieve/*
tmp/*
cookies/*

#ignore packages
vendor/

#composer
composer.phar

#ignore data files & directories
data/performanceData.json
data-etf/
data/*.sql

#ignore environment files
.env
php-includes/definedConstants.php
config/password.txt

