#ignore mac hidden files
**/._*
**/.DS_Store
**/._.DS_Store

#ignore vscode setup
.vscode/*

#ignore development directories
archieve/*
tmp/*
cookies/*

#ignore data files & directories
./data/performanceData.json
data-etf/

#ignore environment files
.env
php-includes/definedConstants.php

#fav icons
faviconGreenDown.ico
faviconGreenUp.ico
faviconRedDown.ico
faviconRedUp.ico